:root {
    color-scheme: light dark;
    --okay-bg: light-dark(#fff, #282828);
    --okay-border-color: light-dark(#dbdbdb,#515151);
    --okay-button-color: light-dark(#3c952e, #204f19);
    --okay-button-text: light-dark(#f5f5f5, #959595);
    --okay-basic-company: light-dark(#dc3545, #dc3545);
    --okay-basic-company-text: light-dark(#fff4e8, #cecece);
    --okay-body-text: light-dark(#222, #999);
    );
}

body, h1, h5, th, td, .modal-dialog>*, input.form-control, input.form-control:focus,
.select2-container--bootstrap-5 .select2-selection
, .select2-search--dropdown, .select2-results
    ,.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered
    ,.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice
{
    background-color: var(--okay-bg);
    color: var(--okay-body-text);
}
.jumbotron {
    border: solid 1px;
    border-color: var(--okay-border-color);
}

.invalid-feedback {
    color: var(--okay-basic-company);
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: var(--okay-basic-company);
}

.btn-success {
    background-color: var(--okay-button-color);
    color: var(--okay-button-text);
    border: none;
}

.btn-danger {
    background-color: var(--okay-basic-company);
    border: none;
}

table {
    border-color: var(--okay-border-color)!important;
}


th { cursor: pointer}

.fa {
    /*color: lightgray;*/
    opacity: 0;
}

.sorted > .fa { opacity: 0.6}
